<nav class="navbar navbar-static-top navbar-inverse mb0">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">师生科研交流平台</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li id="nav-link-to-oe"><a href="/open-experiment">开放实验</a>
                </li>
                <li id="nav-link-to-cc"><a href="/cc">挑战杯</a>
                </li>
                <li id="nav-link-to-ip"><a href="/ip">创新项目</a>
                </li>
                <% if(typeof user!=='undefined' ){ %>
                    <li id="nav-link-to-center"><a href="/center">个人中心</a>
                    </li>
                    <% } %>
            </ul>
            <% if(typeof user!=='undefined' ){ %>
                <input type="hidden" value="<%=user._id%>" id="USERID" />
                <input type="hidden" value="<%=user.name%>" id="USERNAME" />
                <input type="hidden" value="<%=user.type%>" id="USERTYPE" />
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">欢迎，<%=user.name%>&nbsp;<%=user.type==='teacher'?'教师':'同学'%><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/center"><i class="fa fa-user"></i>个人中心</a>
                            </li>
                            <li><a href="#"><i class="fa fa-users"></i>我的团队</a>
                            </li>
                            <li><a href="#"><i class="fa fa-at"></i>我&nbsp;&nbsp;<span class="badge">42</span></a>
                            </li>
                            <li class="divider"></li>
                            <% if(user.type==='student' ) { %>
                                <li><a href="#"><i class="fa fa-book"></i>我的选题</a>
                                </li>
                                <li><a href="#"><i class="fa fa-edit"></i>项目申请</a>
                                </li>
                                <% } else { %>
                                    <li><a href="#"><i class="fa fa-book"></i>我的项目</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-edit"></i>学生申请</a>
                                    </li>
                                    <% } %>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="fa fa-cog"></i>设置</a>
                                        </li>
                                        <li><a href="#" id="nav-sign-out"><i class="fa fa-sign-out"></i>注销</a>
                                        </li>
                        </ul>
                    </li>
                </ul>
                <% } else { %>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-sign-in"></i>登录&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu minw250" role="menu">
                                <li>
                                    <form class="p20 pb10">
                                        <div class="form-group">
                                            <label for="nav-input-id">学号/工号</label>
                                            <input type="text" class="form-control" id="nav-input-id">
                                        </div>
                                        <div class="form-group">
                                            <label for="nav-input-pwd">密码</label>
                                            <input type="password" class="form-control" id="nav-input-pwd">
                                            <h6 class="text-muted">忘记密码？</h6>
                                        </div>
                                        <button type="button" class="btn btn-primary" id="nav-input-sub">登录</button>
                                        <button type="button" class="btn btn-default ml10" id="nav-input-reg">注册</button>
                                        <label class="checkbox-inline pull-right">
                                            <input type="checkbox" id="nav-input-rem">记住我
                                        </label>
                                    </form>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#" id="nav-input-admin"><h6 class="text-muted m0 mb5">管理员入口</h6></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <% } %>
        </div>
    </div>
</nav>