<nav class="navbar navbar-static-top mb0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">暨南大学师生科研交流平台</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <% if(typeof user!=='undefined' && user.type!=='管理员' ){ %>
                    <li id="nav-link-to-center"><a href="/center">个人中心</a>
                    </li>
                    <% } %>
                        <li id="nav-link-to-oe"><a href="/open-experiment">开放实验</a>
                        </li>
                        <li id="nav-link-to-cc"><a href="/challenge-cup">挑战杯</a>
                        </li>
                        <li id="nav-link-to-ip"><a href="/innovation-project">创新项目</a>
                        </li>
                        <li id="nav-link-to-team"><a href="/team">项目团队</a>
                        </li>
                        <li id="nav-link-to-support"><a href="/support">支持服务</a>
                        </li>

            </ul>
        </div>
    </div>
</nav>
<div class="nav-toolbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <a href="/"><i class="nav-logo" /></i>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 text-right pull-right">
                <div class="user-info">
                    <% if(typeof user==='undefined' ){ %>
                        <div class="anonymous"><a href="/register">注册</a>&nbsp;或<a href="/login">&nbsp;登录</a>&nbsp;<i class="fa fa-sign-in"></i>
                        </div>
                        <%} else{%>
                            <input type="hidden" value="<%=user._id%>" id="USERID" />
                            <input type="hidden" value="<%=user.name%>" id="USERNAME" />
                            <input type="hidden" value="<%=user.type%>" id="USERTYPE" />
                            <input type="hidden" value="<%=user.img%>" id="USERIMG" />
                            <table class="signed">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h5><a href="/center">
                                                <%=user.name%>
                                                    <%=user.type%>
                                            </a></h5>
                                        </td>
                                        <td rowspan="2" class="pl10"><a href="/center"><img class="head" src="<%=user.img%>"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6><a class="text-muted" href="#" id="sign-out">注销</a></h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <%}%>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6">
                <div class="input-group input-group-lg" id="nav-search-bar">
                    <input type="text" class="form-control" id="input-search" placeholder="找项目">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" id="nav-search">&nbsp;&nbsp;<i class="fa fa-search"></i>&nbsp;&nbsp;
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>