<!DOCTYPE html>
<html>

<head>
    <title>个人中心 - 暨南大学师生科研互动平台</title>
    <%include parts/include.css.html%>
</head>

<body>
    <div class="page-wrapper">
        <div class="body">
            <% include parts/nav.ejs %>
                <div class="container mt20">
                    <div class="row">
                        <div class="col-sm-9 col-xs-12 pull-right">
                            <div role="tabpanel">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a id="news" href="#tab-news" aria-controls="tab-news" role="tab" data-toggle="tab"><i class="fa fa-comments"></i>&nbsp;最新动态</a>
                                    </li>
                                    <li role="presentation"><a id="project" href="#tab-project" aria-controls="tab-project" role="tab" data-toggle="tab"><i class="fa fa-book"></i>&nbsp;<%=user.type==='同学'?'我的选题':'我的项目'%></a>
                                    </li>
                                    <li role="presentation"><a id="team" href="#tab-team" aria-controls="tab-team" role="tab" data-toggle="tab"><i class="fa fa-users"></i>&nbsp;我的团队</a>
                                    </li>
                                    <li role="presentation"><a id="apply" href="#tab-apply" aria-controls="tab-apply" role="tab" data-toggle="tab"><i class="fa fa-edit"></i>&nbsp;<%=user.type==='同学'?'入团申请':'学生申请'%></a>
                                    </li>
                                    <li role="presentation"><a id="settings" href="#tab-settings" aria-controls="tab-settings" role="tab" data-toggle="tab"><i class="fa fa-cog"></i>&nbsp;设置</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="tab-news">
                                        <br/>
                                        <div id="comments">
                                            <p class="text-muted" id="load-state">加载中</p>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab-project">
                                        <br/>
                                        <div id="projects">
                                            <p class="text-muted" id="load-state">加载中</p>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab-team">
                                        <br/>
                                        <div id="teams">
                                            <p class="text-muted" id="load-state">加载中</p>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab-apply">
                                        <br/>
                                        <%if(user.type==='同学' ){%>
                                            <table class="table table-bordered table-hover" id="table-apply" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>姓名</th>
                                                        <th>类型</th>
                                                        <th>申请加入</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <%} else if (user.type==='老师' ){%>
                                                <table class="table table-bordered table-hover" id="table-apply" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>类型</th>
                                                            <th>姓名</th>
                                                            <th>项目名称</th>
                                                            <th>项目类型</th>
                                                            <th>时间</th>
                                                            <th>操作</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <%}%>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab-settings">
                                        <br/>
                                        <fieldset>
                                            <legend class="fontsizeM">
                                                <span data-toggle="tooltip" title="点击以展开/收回">
                                            <a data-toggle="collapse" href="#head-setting" aria-expanded="false" aria-controls="head-setting">更换头像</a>
                                        </span>
                                            </legend>
                                            <div id="head-setting" class="collapse">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <p><i class="fa fa-cloud"></i>&nbsp;<b>本站头像使用&nbsp;<a href="http://cn.gravatar.com/" target="_blank">Gravatar</a>&nbsp;服务</b>
                                                        </p>
                                                        <ul>
                                                            <li>已注册：在“详细信息”中填写邮箱地址即可将您的头像实时同步到本站所有页面</li>
                                                            <li>未注册：
                                                                <ol>
                                                                    <li>登陆&nbsp;<a href="http://cn.gravatar.com/" target="_blank">Gravatar</a>&nbsp;网站</li>
                                                                    <li>使用邮箱地址注册一个账号</li>
                                                                    <li>上传并使用头像</li>
                                                                    <li>回到本站，并在“详细信息”中填写您的邮箱地址</li>
                                                                </ol>
                                                            </li>
                                                        </ul>
                                                        <br/>
                                                        <p><i class="fa fa-question-circle"></i>&nbsp;<b>什么是Gravatar</b>
                                                        </p>
                                                        <p>
                                                            <ul>
                                                                <li>Gravatar是Globally Recognized Avatar的缩写，是Gravatar推出的一项服务，意为“全球通用头像”。如果在Gravatar的服务器上放置了你自己的头像，那么在任何支持Gravatar的blog或者留言本上留言时，只要提供你与这个头像关联的email地址，就能够显示出你的Gravatar头像来。</li>
                                                            </ul>
                                                        </p>
                                                        <br/>
                                                        <p><i class="fa fa-question-circle"></i>&nbsp;<b>我的头像图片没有正确地显示</b>
                                                        </p>
                                                        <p>
                                                            <ul>
                                                                <li>头像图片上传到Gravatar服务器后需要经过一定的时间才能通过审核并同步到本站</li>
                                                                <li>本站对头像图片的限制为“PG”级，高于此分级的头像将不会显示</li>
                                                            </ul>
                                                        </p>
                                                    </div>
                                                </div>
                                                <br/>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <legend class="fontsizeM">
                                                <span data-toggle="tooltip" title="点击以展开/收回">
                                            <a data-toggle="collapse" href="#account-setting" aria-expanded="false" aria-controls="account-setting">详细信息</a>
                                        </span>
                                            </legend>
                                            <div id="account-setting" class="collapse">
                                                <%if(user.type==='同学' ){%>
                                                    <div class="row">
                                                        <form class="col-xs-12 col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label" for="input-id">学号</label>
                                                                <input class="form-control" type="text" id="input-id" maxlength="10" required pattern="^[0-9]*$" placeholder="请填写十位以下数字">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label control-label" for="input-name">姓名</label>
                                                                <input class="form-control form-control" type="text" id="input-name" maxlength="10" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label" for="input-sex">性别</label>
                                                                <select class="form-control" type="text" id="input-sex">
                                                                    <option>男</option>
                                                                    <option>女</option>
                                                                    <option>其它</option>
                                                                </select>
                                                            </div>
                                                            <div data-role="selector">
                                                                <div class="form-group">
                                                                    <label class="control-label" for="input-college">学院</label>
                                                                    <select class="form-control" id="input-college" required data-bind="college"></select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label" for="input-major">专业</label>
                                                                    <select class="form-control" id="input-major" required data-bind="major"></select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label" for="input-grade">年级</label>
                                                                <input class="form-control" type="number" id="input-grade" min="1" max="9999">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label" for="input-type">类型</label>
                                                                <select class="form-control" type="text" id="input-type">
                                                                    <option>本科生</option>
                                                                    <option>硕士研究生</option>
                                                                    <option>博士研究生</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label" for="input-address">地址<small>（公开）</small>
                                                                </label>
                                                                <input class="form-control" type="text" id="input-address" maxlength="20">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label" for="input-email">邮箱<small>（公开）</small>
                                                                </label>
                                                                <input class="form-control" type="email" id="input-email" maxlength="50">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label" for="input-phone">电话<small>（公开）</small>
                                                                </label>
                                                                <input class="form-control" type="tel" id="input-phone" maxlength="20">
                                                            </div>
                                                            <button type="submit" class="col-xs-12 btn btn-primary" id="input-submit">保存</button>
                                                        </form>
                                                    </div>
                                                    <%} else if(user.type==='老师' ){%>
                                                        <div class="row">
                                                            <form class="col-xs-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="ontrol-label" for="input-id">工号</label>
                                                                    <input class="form-control" type="text" id="input-id" maxlength="10" required pattern="^[0-9]*$" placeholder="请填写十位以下数字">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label control-label" for="input-name">姓名</label>
                                                                    <input class="form-control form-control" type="text" id="input-name" maxlength="10" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label" for="input-sex">性别</label>
                                                                    <select class="form-control" type="text" id="input-sex">
                                                                        <option>男</option>
                                                                        <option>女</option>
                                                                        <option>其它</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group" data-role="selector">
                                                                    <label class="control-label" for="input-department">部门</label>
                                                                    <select class="form-control" id="input-department" required data-bind="college"></select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label" for="input-title">职称</label>
                                                                    <input class="form-control" type="text" id="input-title" maxlength="10" />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label" for="input-email">邮箱<small>（公开）</small>
                                                                    </label>
                                                                    <input class="form-control" type="email" id="input-email" maxlength="50">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label" for="input-phone">电话<small>（公开）</small>
                                                                    </label>
                                                                    <input class="form-control" type="tel" id="input-phone" maxlength="20">
                                                                </div>
                                                                <button type="submit" class="col-xs-12 btn btn-primary " id="input-submit">保存</button>
                                                            </form>
                                                        </div>
                                                        <%}%>
                                                            <br/>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <legend class="fontsizeM">
                                                <span data-toggle="tooltip" title="点击以展开/收回">
                                            <a data-toggle="collapse" href="#password-setting" aria-expanded="false" aria-controls="password-setting">更改密码</a>
                                        </span>
                                            </legend>
                                            <div id="password-setting" class="collapse">
                                                <div class="row">
                                                    <form class="col-xs-12 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="input-orign-password">新密码</label>
                                                            <div class="input-group">
                                                                <input type="password" class="form-control" id="input-password" required maxlength="20">
                                                                <div class="input-group-btn">
                                                                    <button type="button" class="btn btn-default" id="show-password" data-toggle="tooltip" title="显示密码"><i class="fa fa-eye"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="col-xs-12 btn btn-primary">保存</button>
                                                    </form>
                                                </div>
                                                <br/>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="aside aside-left">

                                <img class="head head-lg" data-email="<%=user.email%>" data-target="gravatar" data-size="200px" />
                                <h3><%=user.name%><br/><small><%=user.id%></small></h3>

                                <hr/>
                                <%if(user.type==='同学' ){%>
                                    <p><i class="fa fa-institution minw25"></i>
                                        <%=user.studentAttr?user.studentAttr.college: ''%>
                                    </p>
                                    <p><i class="fa fa-tag minw25"></i>
                                        <%=user.studentAttr?user.studentAttr.major: ''%>
                                    </p>
                                    <p><i class="fa fa-clock-o minw25"></i>
                                        <%=user.studentAttr?user.studentAttr.grade+ '级': ''%>
                                    </p>
                                    <p><i class="fa fa-graduation-cap minw25"></i>
                                        <%=user.studentAttr?user.studentAttr.studentType: ''%>
                                    </p>
                                    <p><i class="fa fa-envelope minw25"></i>
                                        <a href="mailto:<%=user.email%>">
                                            <%=user.email%>
                                        </a>
                                    </p>
                                    <%} else if (user.type==='老师' ){%>
                                        <p><i class="fa fa-institution minw25"></i>
                                            <%=user.teacherAttr?user.teacherAttr.department: ''%>
                                        </p>
                                        <p><i class="fa fa-tag minw25"></i>
                                            <%=user.teacherAttr?user.teacherAttr.title: ''%>
                                        </p>
                                        <p><i class="fa fa-envelope minw25"></i>
                                            <a href="mailto:<%=user.email%>">
                                                <%=user.email%>
                                            </a>
                                        </p>
                                        <%}%>
                                            <hr/>
                                            <table class="table table-condensed table-none-bordered text-center">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <h2 id="oe-num">-</h2>
                                                        </td>
                                                        <td>
                                                            <h2 id="cc-num">-</h2>
                                                        </td>
                                                        <td>
                                                            <h2 id="ip-num">-</h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h6><small>开放实验</small></h6>
                                                        </td>
                                                        <td>
                                                            <h6><small>挑战杯</small></h6>
                                                        </td>
                                                        <td>
                                                            <h6><small>创新项目</small></h6>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <%if(user.type==='老师' ){%>
                    <div class="modal fade" id="approve-project-apply" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">通过</h4>
                                </div>
                                <div class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="reject-project-apply" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">拒绝</h4>
                                </div>
                                <div class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-danger">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%} else if(user.type==='同学' ){%>
                        <div class="modal fade" id="reject-team-apply" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">拒绝</h4>
                                    </div>
                                    <div class="modal-body"></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="submit" class="btn btn-danger">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
        </div>
        <% include parts/footer.html %>
    </div>
    <% include parts/include.js.html %>
        <script type="text/javascript" src="/js/center.js"></script>
</body>

</html>