<!DOCTYPE html>
<html>

<head>
    <title>
        <%=project.name%> - 师生科研互动平台</title>
    <% include parts/include.css.html %>
</head>

<body>
    <% include parts/nav.ejs %>
        <div class="header header-<%=projectFix%>">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="m0"><%=project.name%></h1>
                        <input type="hidden" value="<%=project._id%>" id="input-project-id">
                        <input type="hidden" value="<%=project.type%>" id="input-project-type">
                        <h5 class="mt20"><i class="fa fa-street-view"></i>指导教师：&nbsp;<%=project.teacher.name%><i class="fa fa-clock-o ml20"></i>&nbsp;更新于<%=project.dateUpdate%></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt20">
            <div class="row">
                <div class="col-sm-9 col-xs-12 ">
                    <fieldset>
                        <legend>项目简介</legend>
                        <p>
                            <%=project.description%>
                        </p>
                    </fieldset>
                    <%if(project.type==='开放实验项目' ){%>
                        <fieldset>
                            <legend>项目细节&nbsp;<small class="text-muted">思路，目的，涉及的内容或知识点，考察点</small>
                            </legend>
                            <p>
                                <%-project.openExperimentAttr.detail%>
                            </p>
                        </fieldset>
                        <fieldset>
                            <legend>需要的主要仪器设备及实验材料
                            </legend>
                            <p>
                                <%-project.openExperimentAttr.requirement%>
                            </p>
                        </fieldset>
                        <%}%>
                            <fieldset>
                                <legend>讨论</legend>
                                <div id="comments">
                                    <p class="text-muted" id="comments-state">讨论加载中</p>
                                </div>
                                <form class="well mt20" id="form-comment">
                                    <div class="form-group">
                                        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#input-comment">
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="字体"><i class="fa fa-font"></i>&nbsp;<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="大小"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a data-edit="fontSize 5"><font size="5">Huge</font></a>
                                                    </li>
                                                    <li><a data-edit="fontSize 3"><font size="3">Normal</font></a>
                                                    </li>
                                                    <li><a data-edit="fontSize 1"><font size="1">Small</font></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" data-edit="bold" title="加粗 (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="italic" title="斜体 (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="strikethrough" title="删除线"><i class="fa fa-strikethrough"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="underline" title="下划线 (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" data-edit="insertunorderedlist" title="无序列表"><i class="fa fa-list-ul"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="insertorderedlist" title="有序列表"><i class="fa fa-list-ol"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="outdent" title="退格 (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="indent" title="入格 (Tab)"><i class="fa fa-indent"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" data-edit="justifyleft" title="左对齐 (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="justifycenter" title="居中 (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="justifyright" title="右对齐 (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="justifyfull" title="自适应 (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="超链接"><i class="fa fa-link"></i></a>
                                                <div class="dropdown-menu input-append p10">
                                                    <input class="form-control" placeholder="URL" type="text" data-edit="createLink" />
                                                    <button class="btn btn-default btn-sm mt5" type="button">添加</button>
                                                </div>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" data-edit="undo" title="撤销 (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="redo" title="恢复 (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                                            </div>
                                        </div>
                                        <div class="form-control wysiwyg-textarea wysiwyg-textarea-sm" id="input-comment"></div>
                                    </div>
                                    <div class="form-group">
                                        <span id="reply-object"></span>
                                        <span id="reply-info" class="ml10"></span>
                                        <button type="submit" class="pull-right btn btn-primary" id="input-submit">发表讨论</button>
                                        <button type="button" class="pull-right btn btn-default mr20" id="input-cancel">取消</button>
                                    </div>
                                </form>
                            </fieldset>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="aside aside-right">
                        <%if(user.type==='同学' ){%>

                            <button type="button" class="mr20 mb10 btn btn-primary <%=isSelected?'':'dhidden'%>" id="btn-submit-report">提交实验报告</button>
                            <button type="button" class="mr20 mb10 btn btn-warning <%=isApplied?'':'dhidden'%>" id="btn-cancel-select">取消申请</button>
                            <button type="button" class="mr20 mb10 btn btn-primary <%=(isApplied||isSelected)?'dhidden':''%>" id="btn-apply">选课</button>
                            <button type="button" class="btn mb10 btn-default" data-action="ask">我有疑问</button>

                            <% } else if(user.type==='老师' ){%>

                                <button type="button" class="mr20 mb10 btn btn-primary <%=(user._id.toString()===project.teacher._id.toString())?'':'dhidden'%>" id="btn-update-content" data-toggle="modal" data-target="#edit-project">更新实验</button>
                                <button type="button" class="mb10 btn btn-default" data-action="ask">参与讨论</button>

                                <%} if(project.type==='开放实验项目' ){%>

                                    <hr/>
                                    <div class="text-muted">选课情况：
                                        <span class="pull-right"><span id="project-selects-num">-</span>/
                                        <%=project.openExperimentAttr.capacity%>
                                            </span>
                                    </div>
                                    <div id="project-selects" class="mt10"></div>
                                    <hr/>
                                    <div class="text-muted">所属学院：</div>
                                    <h4><%=project.college%></h4>
                                    <div class="text-muted">面向专业：</div>
                                    <h4><%=project.openExperimentAttr.object%></h4>
                                    <div class="text-muted">实验室：</div>
                                    <h4><%=project.openExperimentAttr.lab%></h4>
                                    <hr/>
                                    <div class="text-muted">教师信息：</div>
                                    <h5><i class="fa fa-street-view"></i><%=project.teacher.name%></h5>
                                    <h5><i class="fa fa-institution"></i><%=project.teacher.department%></h5>
                                    <h5><i class="fa fa-envelope"></i><a href="mailto:<%=project.teacher.email%>"><%=project.teacher.email%></a></h5>
                                    <h5><i class="fa fa-phone"></i><%=project.teacher.phone%></h5>
                                    <hr/>
                                    <div class="text-muted">起始时间：</div>
                                    <h5><i class="fa fa-calendar"></i><%=project.dateStart%>&nbsp;至&nbsp;<%=project.dateEnd%></h5>
                                    <h5><i class="fa fa-clock-o"></i>需要学时：<%=project.openExperimentAttr.effort%></h5>
                                    <hr/>
                                    <%}%>
                    </div>
                </div>
            </div>
        </div>

        <%if(user._id==project.teacher._id){%>
            <div class="modal fade" id="edit-project" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">更新开放实验项目</h4>
                        </div>
                        <form class="pl20 pr20 form-horizontal form-horizontal-label-left" id="new-oe">
                            <input type="hidden" value="<%=project._id%>" id="input-_id">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="input-college" class="col-sm-2 control-label">所属学院</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input-college" maxlength="10" required value="<%=project.college %>">
                                    </div>
                                    <label for="input-lab" class="col-sm-2 control-label">所在实验室
                                    </label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input-lab" maxlength="10" required value="<%=project.openExperimentAttr.lab %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-name" class="col-sm-2 control-label">项目名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input-name" maxlength="20" required value="<%=project.name %>">
                                    </div>
                                    <label for="input-object" class="col-sm-2 control-label">面向对象&nbsp;<a href="#" tabindex="-1"><i class="fa fa-question-circle" data-toggle="tooltip" title="学生专业"></i></a>
                                    </label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input-object" maxlength="10" required value="<%=project.openExperimentAttr.object %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-capacity" class="col-sm-2 control-label">拟定参与学生数</label>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" id="input-capacity" min="1" max="9999" value="<%=project.openExperimentAttr.capacity %>">
                                    </div>
                                    <label for="input-effort" class="col-sm-2 control-label">预期总学时数
                                    </label>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" id="input-effort" min="1" max="9999" value="<%=project.openExperimentAttr.effort %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-datestart" class="col-sm-2 control-label">开始时间</label>
                                    <div class="col-sm-4">
                                        <div class="input-group input-append date">
                                            <input type="text" class="form-control" id="input-dateStart" required value="<%=project.dateStart %>">
                                            <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                            </div>
                                            <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <label for="input-dateend" class="col-sm-2 control-label">结束时间
                                    </label>
                                    <div class="col-sm-4">
                                        <div class="input-group input-append date">
                                            <input type="text" class="form-control" id="input-dateEnd" required value="<%=project.dateEnd %>">
                                            <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                            </div>
                                            <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">项目来源</label>
                                    <div class="col-sm-4">
                                        <input type="text" maxlength="20" class="form-control" id="input-source" value="<%=project.openExperimentAttr.source %>">
                                    </div>
                                    <label class="col-sm-2 control-label">结题或成果形式</label>
                                    <div class="col-sm-4">
                                        <input type="text" maxlength="20" class="form-control" id="input-result" value="<%=project.openExperimentAttr.result %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">项目简介<small>（此处内容将显示在列表摘要中）</small>
                                    </label>
                                    <div class="col-sm-12">
                                        <textarea class="form-control" rows="3" id="input-description" required>
                                            <%=project.description %>
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">项目细节<small>（请按以下内容填写1.设计思路及实验目的；2.涉及的内容或知识点；3.采用的方法和手段；4.考察点）</small>
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#input-detail">
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="字体"><i class="fa fa-font"></i>&nbsp;<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="大小"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a data-edit="fontSize 5"><font size="5">Huge</font></a>
                                                    </li>
                                                    <li><a data-edit="fontSize 3"><font size="3">Normal</font></a>
                                                    </li>
                                                    <li><a data-edit="fontSize 1"><font size="1">Small</font></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" data-edit="bold" title="加粗 (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="italic" title="斜体 (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="strikethrough" title="删除线"><i class="fa fa-strikethrough"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="underline" title="下划线 (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" data-edit="insertunorderedlist" title="无序列表"><i class="fa fa-list-ul"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="insertorderedlist" title="有序列表"><i class="fa fa-list-ol"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="outdent" title="退格 (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="indent" title="入格 (Tab)"><i class="fa fa-indent"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" data-edit="justifyleft" title="左对齐 (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="justifycenter" title="居中 (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="justifyright" title="右对齐 (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="justifyfull" title="自适应 (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                                                <input type="file" data-role="magic-overlay" title="插入图片（请勿上传总大小超过1MB的图像）" data-target="#pictureBtn" data-edit="insertImage">
                                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="超链接"><i class="fa fa-link"></i></a>
                                                <div class="dropdown-menu input-append p10">
                                                    <input class="form-control" placeholder="URL" type="text" data-edit="createLink" />
                                                    <button class="btn btn-default btn-sm mt5" type="button">添加</button>
                                                </div>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" data-edit="undo" title="撤销 (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="redo" title="恢复 (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-control wysiwyg-textarea" id="input-detail">
                                            <%-project.openExperimentAttr.detail %>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">需要的主要仪器设备及实验材料
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#input-requirement">
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="字体"><i class="fa fa-font"></i>&nbsp;<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="大小"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a data-edit="fontSize 5"><font size="5">Huge</font></a>
                                                    </li>
                                                    <li><a data-edit="fontSize 3"><font size="3">Normal</font></a>
                                                    </li>
                                                    <li><a data-edit="fontSize 1"><font size="1">Small</font></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" data-edit="bold" title="加粗 (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="italic" title="斜体 (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="strikethrough" title="删除线"><i class="fa fa-strikethrough"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="underline" title="下划线 (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" data-edit="insertunorderedlist" title="无序列表"><i class="fa fa-list-ul"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="insertorderedlist" title="有序列表"><i class="fa fa-list-ol"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="outdent" title="退格 (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="indent" title="入格 (Tab)"><i class="fa fa-indent"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" data-edit="justifyleft" title="左对齐 (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="justifycenter" title="居中 (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="justifyright" title="右对齐 (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="justifyfull" title="自适应 (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                                                <input type="file" data-role="magic-overlay" title="插入图片（请勿上传总大小超过1MB的图像）" data-target="#pictureBtn" data-edit="insertImage">
                                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="超链接"><i class="fa fa-link"></i></a>
                                                <div class="dropdown-menu input-append p10">
                                                    <input class="form-control" placeholder="URL" type="text" data-edit="createLink" />
                                                    <button class="btn btn-default btn-sm mt5" type="button">添加</button>
                                                </div>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" data-edit="undo" title="撤销 (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                                                <a class="btn btn-default btn-sm" data-edit="redo" title="恢复 (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-control wysiwyg-textarea" id="input-requirement">
                                            <%-project.openExperimentAttr.requirement %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-primary" id="submit">保存</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <%}%>
                <% include parts/include.js.html %>
                    <script type="text/javascript" src="/js/projectView.js"></script>


</body>

</html>