<!DOCTYPE html>
<html>

<head>
    <title>
        <%=project.name%> - 师生科研互动平台</title>
    <% include parts/include.css.html %>
</head>

<body>
    <% include parts/nav.ejs %>
        <script type="text/javascript">
        </script>
        <div class="header header-<%=projectFix%>">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="m0"><%=project.name%></h1>
                        <input type="hidden" value="<%=project._id%>" id="input-project-id">
                        <input type="hidden" value="<%=project.type%>" id="input-project-type">
                        <h5 class="mt20">
                            <%if(project.teacher){%>
                            <i class="fa fa-street-view"></i>指导教师：&nbsp;<%=project.teacher.name%>
                            <%} else {%>
                            <i class="fa fa-street-view"></i>暂无导师
                            <%}%>
                            <i class="fa fa-clock-o ml20"></i>&nbsp;更新于<%=project.dateUpdate%></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt20">
            <div class="row">
                <div class="col-sm-9 col-xs-12 ">
                    <fieldset>
                        <legend>项目简介</legend>
                        <p>
                            <%=project.description%>
                        </p>
                    </fieldset>
                    <%if(project.type==='开放实验项目' && typeof project.openExperimentAttr !=='undefined' ){%>
                        <fieldset>
                            <legend>项目细节&nbsp;<small class="text-muted">思路，目的，涉及的内容或知识点，考察点</small>
                            </legend>
                            <p>
                                <%-project.openExperimentAttr.detail%>
                            </p>
                        </fieldset>
                        <fieldset>
                            <legend>需要的主要仪器设备及实验材料
                            </legend>
                            <p>
                                <%-project.openExperimentAttr.requirement%>
                            </p>
                        </fieldset>
                        <%}else if(project.type==='挑战杯项目' && typeof project.challengeCupAttr !=='undefined' ){%>
                            <fieldset>
                                <legend>项目的基本内容、意义摘要、研究思路和方法</legend>
                                <p>
                                    <%-project.challengeCupAttr.ccBasis%>
                                </p>
                            </fieldset>
                            <fieldset>
                                <legend>项目拟解决的技术难点以及预期达到的目标、主要技术指标和水平</legend>
                                <p>
                                    <%-project.challengeCupAttr.ccGoal%>
                                </p>
                            </fieldset>
                            <fieldset>
                                <legend>项目研究内容的发展现状与趋势，与项目有关研究领域的基础以及专利申请和授权情况</legend>
                                <p>
                                    <%-project.challengeCupAttr.ccStatus%>
                                </p>
                            </fieldset>
                            <fieldset>
                                <legend>预期研究成果应用、转化的前景预测及分析</legend>
                                <p>
                                    <%-project.challengeCupAttr.ccUsage%>
                                </p>
                            </fieldset>
                            <fieldset>
                                <legend>研究工作条件与基础</legend>
                                <p>
                                    <%-project.challengeCupAttr.ccCondition%>
                                </p>
                            </fieldset>
                            <fieldset>
                                <legend>研究工作计划及进度（各实施阶段目标和内容）</legend>
                                <p>
                                    <%-project.challengeCupAttr.ccSchedule%>
                                </p>
                            </fieldset>
                            <fieldset>
                                <legend>团队的学科搭配和梯队建设情况</legend>
                                <p>
                                    <%-project.challengeCupAttr.ccTeam%>
                                </p>
                            </fieldset>
                            <fieldset>
                                <legend>经费申请金额、经费用途和使用计划</legend>
                                <p>
                                    <%-project.challengeCupAttr.ccFund%>
                                </p>
                            </fieldset>
                            <%if(project.challengeCupAttr.ccType==='创业计划类' ){%>
                                <fieldset>
                                    <legend>创业项目概述、产品和服务介绍</legend>
                                    <p>
                                        <%-project.challengeCupAttr.ccDBasic%>
                                    </p>
                                </fieldset>
                                <fieldset>
                                    <legend>创业公司市场、竞争和营销概述</legend>
                                    <p>
                                        <%-project.challengeCupAttr.ccDMarket%>
                                    </p>
                                </fieldset>
                                <fieldset>
                                    <legend>创业公司财务、经营和组织概述</legend>
                                    <p>
                                        <%-project.challengeCupAttr.ccDManage%>
                                    </p>
                                </fieldset>
                                <%}}else if(project.type==='科技创新工程项目' && typeof project.innovationProjectAttr !=='undefined' ){%>
                                    <fieldset>
                                        <legend>关键词</legend>
                                        <p>
                                            <%-project.innovationProjectAttr.ipKeywords%>
                                        </p>
                                    </fieldset>
                                    <fieldset>
                                        <legend>项目摘要</legend>
                                        <p>
                                            <%-project.innovationProjectAttr.ipDetail%>
                                        </p>
                                    </fieldset>
                                    <fieldset>
                                        <legend>立论依据</legend>
                                        <p>
                                            <%-project.innovationProjectAttr.ipBasis%>
                                        </p>
                                    </fieldset>
                                    <fieldset>
                                        <legend>研究方案</legend>
                                        <p>
                                            <%-project.innovationProjectAttr.ipSchedule%>
                                        </p>
                                    </fieldset>
                                    <fieldset>
                                        <legend>研究条件与基础</legend>
                                        <p>
                                            <%-project.innovationProjectAttr.ipCondition%>
                                        </p>
                                    </fieldset>
                                    <fieldset>
                                        <legend>经费预算</legend>
                                        <p>
                                            <%-project.innovationProjectAttr.ipFund%>
                                        </p>
                                    </fieldset>
                                    <%}%>
                                        <fieldset>
                                            <legend>讨论</legend>
                                            <div id="comments">
                                                <p class="text-muted" id="comments-state">讨论加载中</p>
                                            </div>
                                            <form class="well mt20" id="form-comment">
                                                <div class="form-group">
                                                    <div class="form-control wysiwyg-textarea wysiwyg-textarea-sm" id="input-comment"></div>
                                                </div>
                                                <div class="form-group">
                                                    <span id="reply-object"></span>
                                                    <span id="reply-info" class="ml10"></span>
                                                    <button type="submit" class="pull-right btn btn-primary" id="input-submit">发表讨论</button>
                                                    <button type="button" class="pull-right btn btn-default mr20" id="input-cancel">取消</button>
                                                </div>
                                            </form>
                                        </fieldset>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="aside aside-right">
                        <%if(project.type==='开放实验项目' ){%>
                            <button type="button" class="mb10 btn btn-primary <%=user.type==='同学'&&isSelected?'':'dhidden'%>" id="btn-submit-report">提交实验报告</button>
                            <button type="button" class="mb10 btn btn-warning <%=user.type==='同学'&&isApplied?'':'dhidden'%>" id="btn-cancel-select">取消申请</button>
                            <button type="button" class="mb10 btn btn-success <%=(user.type==='同学'&&!isApplied&&!isSelected)?'':'dhidden'%>" id="btn-apply">我要选课</button>
                            <button type="button" class="mb10 btn btn-primary <%=(user._id.toString()===project.creator._id.toString())?'':'dhidden'%>" id="btn-update-content" data-toggle="modal" data-target="#edit-project">更新实验</button>
                            <button type="button" class="mb10 btn btn-default" data-action="ask">参与讨论</button>
                            <hr/>
                            <div class="text-muted">选课情况：
                                <span class="pull-right"><span id="project-selects-num">-</span>/
                                <%=project.openExperimentAttr.capacity%>
                                    </span>
                            </div>
                            <div id="project-selects" class="mt10">
                                <span class="text-muted">加载中</span>
                            </div>
                            <hr/>
                            <div class="text-muted">所属学院：</div>
                            <h4><%=project.college%></h4>
                            <div class="text-muted">面向专业：</div>
                            <h4><%=project.openExperimentAttr.object%></h4>
                            <div class="text-muted">实验室：</div>
                            <h4><%=project.openExperimentAttr.lab%></h4>
                            <hr/>
                            <div class="text-muted">开始时间：</div>
                            <h4><%=project.dateStart%></h4>
                            <div class="text-muted">结束时间：</div>
                            <h4><%=project.dateEnd%></h4>
                            <div class="text-muted">需要学时：</div>
                            <h4><%=project.openExperimentAttr.effort%></h4>
                            <hr/>
                            <div class="text-muted">教师信息：</div>
                            <h5><i class="fa fa-street-view"></i><%=project.teacher.name%></h5>
                            <h5><i class="fa fa-institution"></i><%=project.teacher.department%></h5>
                            <h5><i class="fa fa-envelope"></i><a href="mailto:<%=project.teacher.email%>"><%=project.teacher.email%></a></h5>
                            <h5><i class="fa fa-phone"></i><%=project.teacher.phone%></h5>
                            <%} else if(project.type==='挑战杯项目' || project.type==='科技创新工程项目' ){%>
                                <button type="button" class="mb10 btn btn-primary <%=user._id.toString()===project.creator._id.toString() ?'':'dhidden'%>" id="btn-update-content" data-toggle="modal" data-target="#edit-project">更新项目</button>
                                <button type="button" class="mb10 btn btn-success <%=(user.type==='老师'&&!project.teacher)?'':'dhidden'%>" id="btn-teacher-apply">指导项目</button>
                                <button type="button" class="mb10 btn btn-success <%=user.type==='同学'&&project.teacher?'':'dhidden'%>" id="btn-team-apply" data-toggle="modal" data-target="#select-team">加入项目</button>
                                <button type="button" class="mb10 btn btn-default" data-action="ask">参与讨论</button>
                                <hr/>
                                <div class="text-muted">所属学院：</div>
                                <h4><%=project.college%></h4>
                                <div class="text-muted">参与团队：</div>
                                <%if(team){%>
                                    <h4><a target="_blank" href="/team/<%=team._id%>"><%=team.name%></a></h4>
                                    <%} else {%>
                                        <h4>暂无团队</h4>
                                        <%}%>
                                            <hr/>
                                            <div class="text-muted">开始时间：</div>
                                            <h4><%=project.dateStart%></h4>
                                            <div class="text-muted">结束时间：</div>
                                            <h4><%=project.dateEnd%></h4>
                                            <hr/>
                                            <div class="text-muted">教师信息：</div>
                                            <%if(project.teacher){%>
                                                <h5><i class="fa fa-street-view"></i><%=project.teacher.name%></h5>
                                                <h5><i class="fa fa-institution"></i><%=project.teacher.department%></h5>
                                                <h5><i class="fa fa-envelope"></i><a href="mailto:<%=project.teacher.email%>"><%=project.teacher.email%></a></h5>
                                                <h5><i class="fa fa-phone"></i><%=project.teacher.phone%></h5>
                                                <%} else {%>
                                                    <h5><i class="fa fa-phone"></i>暂无指导教师</h5>
                                                    <%}}%>
                    </div>
                </div>
            </div>
        </div>

        <%if(project.teacher && project.type==='开放实验项目' ){%>
            <div class="modal fade" id="edit-project" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">更新开放实验项目</h4>
                        </div>
                        <form class="form-horizontal form-horizontal-label-left" id="new-oe">
                            <input type="hidden" value="<%=project._id%>" id="input-_id">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="input-college" class="col-sm-2 control-label">所属学院</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input-college" maxlength="10" required value="<%=project.college %>">
                                    </div>
                                    <label for="input-lab" class="col-sm-2 control-label">所在实验室
                                    </label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input-lab" maxlength="10" required value="<%=project.openExperimentAttr.lab %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-name" class="col-sm-2 control-label">项目名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input-name" maxlength="20" required value="<%=project.name %>">
                                    </div>
                                    <label for="input-object" class="col-sm-2 control-label">面向对象&nbsp;<a href="#" tabindex="-1"><i class="fa fa-question-circle" data-toggle="tooltip" title="学生专业"></i></a>
                                    </label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input-object" maxlength="10" required value="<%=project.openExperimentAttr.object %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-capacity" class="col-sm-2 control-label">拟定参与学生数</label>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" id="input-capacity" min="1" max="9999" value="<%=project.openExperimentAttr.capacity %>">
                                    </div>
                                    <label for="input-effort" class="col-sm-2 control-label">预期总学时数
                                    </label>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" id="input-effort" min="1" max="9999" value="<%=project.openExperimentAttr.effort %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-datestart" class="col-sm-2 control-label">开始时间</label>
                                    <div class="col-sm-4">
                                        <div class="input-group input-append date">
                                            <input type="text" class="form-control" id="input-dateStart" required value="<%=project.dateStart %>">
                                            <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                            </div>
                                            <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <label for="input-dateend" class="col-sm-2 control-label">结束时间
                                    </label>
                                    <div class="col-sm-4">
                                        <div class="input-group input-append date">
                                            <input type="text" class="form-control" id="input-dateEnd" required value="<%=project.dateEnd %>">
                                            <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                            </div>
                                            <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">项目来源</label>
                                    <div class="col-sm-4">
                                        <input type="text" maxlength="20" class="form-control" id="input-source" value="<%=project.openExperimentAttr.source %>">
                                    </div>
                                    <label class="col-sm-2 control-label">结题或成果形式</label>
                                    <div class="col-sm-4">
                                        <input type="text" maxlength="20" class="form-control" id="input-result" value="<%=project.openExperimentAttr.result %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">项目简介<small>（此处内容将显示在列表摘要中）</small>
                                    </label>
                                    <div class="col-sm-12">
                                        <textarea class="form-control" rows="3" id="input-description" required>
                                            <%=project.description %>
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">项目细节<small>（请按以下内容填写1.设计思路及实验目的；2.涉及的内容或知识点；3.采用的方法和手段；4.考察点）</small>
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="form-control wysiwyg-textarea" id="input-detail">
                                            <%-project.openExperimentAttr.detail %>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">需要的主要仪器设备及实验材料
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="form-control wysiwyg-textarea" id="input-requirement">
                                            <%-project.openExperimentAttr.requirement %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-primary" id="submit">保存</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <%} else if(user._id==project.creator._id && project.type==='挑战杯项目' ){%>
                <div class="modal fade" id="edit-project" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">更新挑战杯项目</h4>
                            </div>
                            <form class="form-horizontal form-horizontal-label-left" id="new-cc">
                                <input type="hidden" value="<%=project._id%>" id="input-_id">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="input-name" class="col-sm-2 control-label">项目名称</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="input-name" maxlength="20" required value="<%=project.name %>">
                                        </div>
                                        <label for="input-college" class="col-sm-2 control-label">所属学院</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="input-college" maxlength="10" required value="<%=project.college %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-dateStart" class="col-sm-2 control-label">预期开始时间</label>
                                        <div class="col-sm-4">
                                            <div class="input-group input-append date">
                                                <input type="text" class="form-control" id="input-dateStart" required value="<%=project.dateStart %>">
                                                <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                                </div>
                                                <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <label for="input-dateEnd" class="col-sm-2 control-label">预期结束时间
                                        </label>
                                        <div class="col-sm-4">
                                            <div class="input-group input-append date">
                                                <input type="text" class="form-control" id="input-dateEnd" required value="<%=project.dateEnd %>">
                                                <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                                </div>
                                                <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">项目类别</label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline">
                                                <input type="radio" name="input-type" id="input-type-1" <%=project.challengeCupAttr.ccType==='哲学社会科学类社会调查报告和学术论文' ? 'checked': ''%> value="哲学社会科学类社会调查报告和学术论文">哲学社会科学类社会调查报告和学术论文
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="input-type" id="input-type-2" <%=project.challengeCupAttr.ccType==='自然科学类学术论文' ? 'checked': ''%> value="自然科学类学术论文">自然科学类学术论文
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="input-type" id="input-type-3" <%=project.challengeCupAttr.ccType==='科技发明制作类' ? 'checked': ''%> value="科技发明制作类">科技发明制作类
                                            </label>
                                            <%if(project.creator.type==='同学' ){%>
                                                <label class="radio-inline">
                                                    <input type="radio" name="input-type" id="input-type-4" <%=project.challengeCupAttr.ccType==='创业计划类' ? 'checked': ''%> value="创业计划类">创业计划类
                                                </label>
                                                <%}%>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">项目简介<small>（此处内容将显示在列表摘要中）</small>
                                        </label>
                                        <div class="col-sm-12">
                                            <textarea class="form-control" rows="3" id="input-description" required>
                                                <%=project.description%>
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">项目的基本内容、意义摘要、研究思路和方法
                                        </label>
                                        <div class="col-sm-12">
                                            <div class="form-control wysiwyg-textarea" id="input-ccBasis">
                                                <%-project.challengeCupAttr.ccBasis%>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">项目拟解决的技术难点以及预期达到的目标、主要技术指标和水平
                                        </label>
                                        <div class="col-sm-12">
                                            <div class="form-control wysiwyg-textarea" id="input-ccGoal">
                                                <%-project.challengeCupAttr.ccGoal%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">项目研究内容的发展现状与趋势，与项目有关研究领域的基础以及专利申请和授权情况
                                        </label>
                                        <div class="col-sm-12">
                                            <div class="form-control wysiwyg-textarea" id="input-ccStatus">
                                                <%-project.challengeCupAttr.ccStatus%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">预期研究成果应用、转化的前景预测及分析
                                        </label>
                                        <div class="col-sm-12">
                                            <div class="form-control wysiwyg-textarea" id="input-ccUsage">
                                                <%-project.challengeCupAttr.ccUsage%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">研究工作条件与基础
                                        </label>
                                        <div class="col-sm-12">
                                            <div class="form-control wysiwyg-textarea" id="input-ccCondition">
                                                <%-project.challengeCupAttr.ccCondition%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">研究工作计划及进度（各实施阶段目标和内容）
                                        </label>
                                        <div class="col-sm-12">
                                            <div class="form-control wysiwyg-textarea" id="input-ccSchedule">
                                                <%-project.challengeCupAttr.ccSchedule%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">团队的学科搭配和梯队建设情况
                                        </label>
                                        <div class="col-sm-12">
                                            <div class="form-control wysiwyg-textarea" id="input-ccTeam">
                                                <%-project.challengeCupAttr.ccTeam%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">经费申请金额、经费用途和使用计划
                                        </label>
                                        <div class="col-sm-12">
                                            <div class="form-control wysiwyg-textarea" id="input-ccFund">
                                                <%-project.challengeCupAttr.ccFund%>
                                            </div>
                                        </div>
                                    </div>
                                    <%if(project.creator.type==='同学' ){%>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">创业项目概述、产品和服务介绍<small class="ml10">（创业计划类项目填写）</small>
                                            </label>
                                            <div class="col-sm-12">
                                                <div class="form-control wysiwyg-textarea" id="input-ccDBasic">
                                                    <%-project.challengeCupAttr.ccDBasic%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">创业公司市场、竞争和营销概述<small class="ml10">（创业计划类项目填写）</small>
                                            </label>
                                            <div class="col-sm-12">
                                                <div class="form-control wysiwyg-textarea" id="input-ccDMarket">
                                                    <%-project.challengeCupAttr.ccDMarket%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">创业公司财务、经营和组织概述<small class="ml10">（创业计划类项目填写）</small>
                                            </label>
                                            <div class="col-sm-12">
                                                <div class="form-control wysiwyg-textarea" id="input-ccDManage">
                                                    <%-project.challengeCupAttr.ccDManage%>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary" id="submit">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <%} else if(user._id==project.creator._id && project.type==='科技创新工程项目' ){%>
                    <div class="modal fade" id="edit-project" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">更新科技创新工程项目</h4>
                                </div>
                                <form class="form-horizontal form-horizontal-label-left" id="new-ip">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="input-name" class="col-sm-2 control-label">项目名称</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="input-name" maxlength="20" required value="<%=project.name%>">
                                            </div>
                                            <label for="input-college" class="col-sm-2 control-label">所属学院</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="input-college" maxlength="10" required value="<%=project.college%>">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="input-dateStart" class="col-sm-2 control-label">预期开始时间</label>
                                            <div class="col-sm-4">
                                                <div class="input-group input-append date">
                                                    <input type="text" class="form-control" id="input-dateStart" required value="<%=project.dateStart%>">
                                                    <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                                    </div>
                                                    <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <label for="input-dateEnd" class="col-sm-2 control-label">预期结束时间
                                            </label>
                                            <div class="col-sm-4">
                                                <div class="input-group input-append date">
                                                    <input type="text" class="form-control" id="input-dateEnd" required value="<%=project.dateEnd%>">
                                                    <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                                    </div>
                                                    <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">项目简介<small>（此处内容将显示在列表摘要中）</small>
                                            </label>
                                            <div class="col-sm-12">
                                                <textarea class="form-control" rows="3" id="input-description" required>
                                                    <%=project.description%>
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">关键词<small>（3~5个，用分号隔开）</small>
                                            </label>
                                            <div class="col-sm-12">
                                                <textarea class="form-control" rows="3" id="input-ipKeywords" required>
                                                    <%=project.innovationProjectAttr.ipKeywords%>
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">摘要
                                            </label>
                                            <div class="col-sm-12">
                                                <div class="form-control wysiwyg-textarea" id="input-ipDetail">
                                                    <%-project.innovationProjectAttr.ipDetail%>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">立论依据<small>（研究意义，现状分析，创新之处，参考文献）</small>
                                            </label>
                                            <div class="col-sm-12">
                                                <div class="form-control wysiwyg-textarea" id="input-ipBasis">
                                                    <%-project.innovationProjectAttr.ipBasis%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">研究方案<small>（研究目标和内容，拟解决的关键问题，研究进度，预期成果）</small>
                                            </label>
                                            <div class="col-sm-12">
                                                <div class="form-control wysiwyg-textarea" id="input-ipSchedule">
                                                    <%-project.innovationProjectAttr.ipSchedule%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">研究条件与基础
                                            </label>
                                            <div class="col-sm-12">
                                                <div class="form-control wysiwyg-textarea" id="input-ipCondition">
                                                    <%-project.innovationProjectAttr.ipCondition%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">经费预算<small>（科研业务费，实验材料费，其他费用）</small>
                                            </label>
                                            <div class="col-sm-12">
                                                <div class="form-control wysiwyg-textarea" id="input-ipFund">
                                                    <%-project.innovationProjectAttr.ipFund%>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="submit" class="btn btn-primary" id="submit">保存</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <%}%>

                        <%if(user.type==='同学' &&project.teacher){%>
                            <div class="modal fade" id="select-team" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title">选择团队</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="selector"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="button" class="btn btn-primary" id="submit">确定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                                <% include parts/include.js.html %>
                                    <script type="text/javascript" src="/js/projectView.js"></script>


</body>

</html>