<!DOCTYPE html>
<html>

<head>
    <title>
        <%=projectType%> - 师生科研互动平台</title>
    <% include parts/include.css.html %>
</head>

<body>
    <% include parts/nav.ejs %>
        <input type="hidden" id="projectType" value="<%=projectType%>" />
        <div class="header header-<%=projectFix%>">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="m0"><%=projectType%></h1>
                        <h5 class="mt20"><i class="fa fa-flask"></i>&nbsp;<span id="header-project-num"></span>个项目<i class="fa fa-street-view ml20"></i>&nbsp;<span id="header-teacher-num"></span>位指导教师<i class="fa fa-clock-o ml20"></i>&nbsp;更新于<span id="header-update-date"></span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt20">
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <span>项目列表</span>
                    <div class="btn-group pull-right">
                        <% if(typeof user!=='undefined' && user.type==='老师' ){%>
                            <a href='#' data-toggle="modal" data-target="#new-project"><i class="fa fa-plus"></i>&nbsp;新建</a>
                            <% } %>
                                <a class="cursor-pointer ml10" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-sort"></i>&nbsp;排序&nbsp;<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">发布时间</a>
                                    </li>
                                    <li><a href="#">名称</a>
                                    </li>
                                    <li><a href="#">指导教师</a>
                                    </li>
                                </ul>
                    </div>
                    <hr class="hr-dark" />
                    <div id="list">
                        <span class="text-muted" id="load-state"></span>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="aside aside-right">
                        <div class="input-group">
                            <input type="text" class="form-control" id="aside-input-search" placeholder="搜索项目，教师等">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" id="aside-input-search-btn"><i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <hr/>没想好这里放什么
                    </div>
                </div>
            </div>
        </div>
        <% include parts/include.js.html %>
            <script type="text/javascript" src="/js/project.js"></script>
            <%if(typeof user !=='undefined' && user.type==='老师' &&projectType==='开放实验项目' ){%>
                <div class="modal fade" id="new-project" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">新建<%=projectType%></h4>
                            </div>
                            <form class="pl20 pr20 form-horizontal form-horizontal-label-left" id="new-oe">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="input-college" class="col-sm-2 control-label">所属学院</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="input-college" maxlength="10" required>
                                        </div>
                                        <label for="input-lab" class="col-sm-2 control-label">所在实验室
                                        </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="input-lab" maxlength="10" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-name" class="col-sm-2 control-label">项目名称</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="input-name" maxlength="20" required>
                                        </div>
                                        <label for="input-object" class="col-sm-2 control-label">面向对象&nbsp;<a href="#" tabindex="-1"><i class="fa fa-question-circle" data-toggle="tooltip" title="学生专业"></i></a>
                                        </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="input-object" maxlength="10" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-capacity" class="col-sm-2 control-label">拟定参与学生数</label>
                                        <div class="col-sm-4">
                                            <input type="number" class="form-control" id="input-capacity" min="1" max="9999">
                                        </div>
                                        <label for="input-effort" class="col-sm-2 control-label">预期总学时数
                                        </label>
                                        <div class="col-sm-4">
                                            <input type="number" class="form-control" id="input-effort" min="1" max="9999">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-datestart" class="col-sm-2 control-label">开始时间</label>
                                        <div class="col-sm-4">
                                            <div class="input-group input-append date">
                                                <input type="text" class="form-control" id="input-dateStart" required>
                                                <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                                </div>
                                                <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <label for="input-dateend" class="col-sm-2 control-label">结束时间
                                        </label>
                                        <div class="col-sm-4">
                                            <div class="input-group input-append date">
                                                <input type="text" class="form-control" id="input-dateEnd" required>
                                                <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                                </div>
                                                <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">项目来源</label>
                                        <div class="col-sm-7">
                                            <label class="radio-inline">
                                                <input type="radio" name="input-source" id="input-source-1" checked value="教师科研课题">教师科研课题
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="input-source" id="input-source-2" value="实验室自拟">实验室自拟
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="input-source" id="input-source-3" value="综合素质提高型">综合素质提高型
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="input-source" id="input-source-4" value="其它">其它
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="input-source" placeholder="其它来源" disabled maxlength="20">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">结题或成果形式</label>
                                        <div class="col-sm-7">
                                            <label class="radio-inline">
                                                <input type="radio" name="input-result" id="input-result-1" checked value="实验报告">实验报告
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="input-result" id="input-result-2" value="论文">论文
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="input-result" id="input-result-3" value="实物作品">实物作品
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="input-result" id="input-result-4" value="专利">专利
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="input-result" id="input-result-5" value="其它">其它
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="input-result" placeholder="其它形式" disabled maxlength="20">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">项目简介<small>（此处内容将显示在列表摘要中）</small>
                                        </label>
                                        <div class="col-sm-12">
                                            <textarea class="form-control" rows="3" id="input-description" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">项目细节<small>（请按以下内容填写1.设计思路及实验目的；2.涉及的内容或知识点；3.采用的方法和手段；4.考察点）</small>
                                        </label>
                                        <div class="col-sm-12">
                                            <div class="btn-toolbar" data-role="editor-toolbar" data-target="#input-detail">
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="字体"><i class="fa fa-font"></i>&nbsp;<b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                    </ul>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="大小"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a data-edit="fontSize 5"><font size="5">Huge</font></a>
                                                        </li>
                                                        <li><a data-edit="fontSize 3"><font size="3">Normal</font></a>
                                                        </li>
                                                        <li><a data-edit="fontSize 1"><font size="1">Small</font></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-sm" data-edit="bold" title="加粗 (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="italic" title="斜体 (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="strikethrough" title="删除线"><i class="fa fa-strikethrough"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="underline" title="下划线 (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-sm" data-edit="insertunorderedlist" title="无序列表"><i class="fa fa-list-ul"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="insertorderedlist" title="有序列表"><i class="fa fa-list-ol"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="outdent" title="退格 (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="indent" title="入格 (Tab)"><i class="fa fa-indent"></i></a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-sm" data-edit="justifyleft" title="左对齐 (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="justifycenter" title="居中 (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="justifyright" title="右对齐 (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="justifyfull" title="自适应 (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-sm" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                                                    <input type="file" data-role="magic-overlay" title="插入图片（请勿上传总大小超过1MB的图像）" data-target="#pictureBtn" data-edit="insertImage">
                                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="超链接"><i class="fa fa-link"></i></a>
                                                    <div class="dropdown-menu input-append p10">
                                                        <input class="form-control" placeholder="URL" type="text" data-edit="createLink" />
                                                        <button class="btn btn-default btn-sm mt5" type="button">添加</button>
                                                    </div>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-sm" data-edit="undo" title="撤销 (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="redo" title="恢复 (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-control wysiwyg-textarea" id="input-detail"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">需要的主要仪器设备及实验材料
                                        </label>
                                        <div class="col-sm-12">
                                            <div class="btn-toolbar" data-role="editor-toolbar" data-target="#input-requirement">
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="字体"><i class="fa fa-font"></i>&nbsp;<b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                    </ul>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="大小"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a data-edit="fontSize 5"><font size="5">Huge</font></a>
                                                        </li>
                                                        <li><a data-edit="fontSize 3"><font size="3">Normal</font></a>
                                                        </li>
                                                        <li><a data-edit="fontSize 1"><font size="1">Small</font></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-sm" data-edit="bold" title="加粗 (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="italic" title="斜体 (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="strikethrough" title="删除线"><i class="fa fa-strikethrough"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="underline" title="下划线 (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-sm" data-edit="insertunorderedlist" title="无序列表"><i class="fa fa-list-ul"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="insertorderedlist" title="有序列表"><i class="fa fa-list-ol"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="outdent" title="退格 (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="indent" title="入格 (Tab)"><i class="fa fa-indent"></i></a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-sm" data-edit="justifyleft" title="左对齐 (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="justifycenter" title="居中 (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="justifyright" title="右对齐 (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="justifyfull" title="自适应 (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-sm" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                                                    <input type="file" data-role="magic-overlay" title="插入图片（请勿上传总大小超过1MB的图像）" data-target="#pictureBtn" data-edit="insertImage">
                                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="超链接"><i class="fa fa-link"></i></a>
                                                    <div class="dropdown-menu input-append p10">
                                                        <input class="form-control" placeholder="URL" type="text" data-edit="createLink" />
                                                        <button class="btn btn-default btn-sm mt5" type="button">添加</button>
                                                    </div>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-sm" data-edit="undo" title="撤销 (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                                                    <a class="btn btn-default btn-sm" data-edit="redo" title="恢复 (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-control wysiwyg-textarea" id="input-requirement"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary" id="submit">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <%}%>
</body>

</html>