<!DOCTYPE html>
<html>

<head>
    <title>
        项目列表 -
        <%=projectType%> - 暨南大学师生科研互动平台</title>
    <% include parts/include.css.html %>
</head>

<body>
    <div class="page-wrapper">
        <div class="body">
            <% include parts/nav.ejs %>
                <input type="hidden" id="projectType" value="<%=projectType%>" />
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 mt20">
                            <h2><%=projectType%></h2>
                            <p><i class="fa fa-book"></i>&nbsp;<span id="header-project-num">-</span>个项目<i class="fa fa-street-view ml20"></i>&nbsp;<span id="header-teacher-num">-</span>位指导教师<i class="fa fa-clock-o ml20"></i>&nbsp;<span id="header-update-date"></span>
                            </p>
                            <hr/>
                        </div>
                    </div>
                </div>
                <div class="container mt20">
                    <div class="row">
                        <div class="col-sm-9 col-xs-12">
                            <div id="list">
                                <span class="text-muted" id="load-state"></span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="aside aside-right">
                                <div class="input-group input-group-sm mb10">
                                    <input type="text" class="form-control" id="input-search-in-result" placeholder="项目名 教师">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" id="search-in-result">&nbsp;<i class="fa fa-search"></i>&nbsp;
                                        </button>
                                    </div>
                                </div>
                                <div class="btn-group btn-block">
                                    <button type="button" class="btn btn-sm btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-sort"></i>&nbsp;排序
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" id="sort-by-date-start">最近发布</a>
                                        </li>
                                        <li><a href="#" id="sort-by-date-update">最近更新</a>
                                        </li>
                                        <li><a href="#" id="sort-by-name">项目名称</a>
                                        </li>
                                        <li><a href="#" id="sort-by-teacher">指导教师</a>
                                        </li>
                                    </ul>
                                </div>
                                <% if(typeof user!=='undefined' && ((user.type==='老师' && projectType==='开放实验项目' ) || projectType==='挑战杯项目' || projectType==='科技创新工程项目' )){%>
                                    <button type="button" class="btn btn-sm btn-success btn-block" data-toggle="modal" data-target="#new-project"><i class="fa fa-plus"></i>&nbsp;创建</button>
                                    <% } %>
                                        <br/>
                                        <br/>
                                        <h4 class="text-theme"><b><%=projectType%></b></h4>
                                        <p class="text-muted">
                                            <%if(projectType==='开放实验项目' ){%>
                                                开放实验项目是指实验室根据自身条件，设计一定数量的命题实验，经学校审批通过的项目。
                                                <br/>
                                                <br/>学生对感兴趣的项目提出申请，并由指导教师和相关实验室共同做好录取工作后，在业余的、课外的时间内完成。
                                                <br/>
                                                <br/>包括综合性、设计性、研究性和软件开发、网站建设等。
                                                <%}else if(projectType==='挑战杯项目' ){%>
                                                    挑战杯是“挑战杯”全国大学生系列科技学术竞赛的简称，是由共青团中央、中国科协、教育部和全国学联共同主办的全国性的大学生课外学术实践竞赛。
                                                    <br/>
                                                    <br/>“挑战杯”竞赛在中国共有两个并列项目，一个是“挑战杯”中国大学生创业计划竞赛，另一个则是“挑战杯”全国大学生课外学术科技作品竞赛。
                                                    <%}else if(projectType==='科技创新工程项目' ){%>
                                                        本科生科技创新工程旨在培养本科生的创新意识、创新思维和创新能力，培养本科生严谨的科学态度、团结合作的“团队”精神，为我校在各级各类科技创新竞赛中取得优异成绩奠定良好的基础。
                                                        <br/>
                                                        <br/>旨在增强师生间的交流，促进教师的教学和科研的有机结合，达到“教学相长”的目的。
                                                        <%}%>
                                        </p>

                            </div>
                        </div>
                    </div>
                </div>

                <%if(typeof user !=='undefined' && user.type==='老师' &&projectType==='开放实验项目' ){%>
                    <div class="modal fade" id="new-project" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">新建开放实验项目</h4>
                                </div>
                                <form class="form-horizontal form-horizontal-label-left" id="new-oe">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="input-college" class="col-sm-2 control-label">所属学院</label>
                                            <div class="col-sm-4" data-role="selector">
                                                <select class="form-control" id="input-college" required data-bind="college"></select>
                                            </div>
                                            <label for="input-lab" class="col-sm-2 control-label">所在实验室
                                            </label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="input-lab" maxlength="10" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="input-name" class="col-sm-2 control-label">项目名称</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="input-name" maxlength="20" required>
                                            </div>
                                            <label for="input-object" class="col-sm-2 control-label">面向对象&nbsp;<a href="#" tabindex="-1"><i class="fa fa-question-circle" data-toggle="tooltip" title="学生专业"></i></a>
                                            </label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="input-object" maxlength="10" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="input-capacity" class="col-sm-2 control-label">拟定参与学生数</label>
                                            <div class="col-sm-4">
                                                <input type="number" class="form-control" id="input-capacity" min="1" max="9999">
                                            </div>
                                            <label for="input-effort" class="col-sm-2 control-label">预期总学时数
                                            </label>
                                            <div class="col-sm-4">
                                                <input type="number" class="form-control" id="input-effort" min="1" max="9999">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="input-dateStart" class="col-sm-2 control-label">开始时间</label>
                                            <div class="col-sm-4">
                                                <div class="input-group input-append date">
                                                    <input type="text" class="form-control" id="input-dateStart" required>
                                                    <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                                    </div>
                                                    <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <label for="input-dateEnd" class="col-sm-2 control-label">结束时间
                                            </label>
                                            <div class="col-sm-4">
                                                <div class="input-group input-append date">
                                                    <input type="text" class="form-control" id="input-dateEnd" required>
                                                    <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                                    </div>
                                                    <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">项目来源</label>
                                            <div class="col-sm-7">
                                                <label class="radio-inline" for="input-source-1">
                                                    <input checked value="教师科研课题" type="radio" name="input-source" id="input-source-1">教师科研课题
                                                </label>
                                                <label class="radio-inline" for="input-source-2">
                                                    <input value="实验室自拟" type="radio" name="input-source" id="input-source-2">实验室自拟
                                                </label>
                                                <label class="radio-inline" for="input-source-3">
                                                    <input value="综合素质提高型" type="radio" name="input-source" id="input-source-3">综合素质提高型
                                                </label>
                                                <label class="radio-inline" for="input-source-4">
                                                    <input value="其它" type="radio" name="input-source" id="input-source-4">其它
                                                </label>
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="input-source" placeholder="其它来源" disabled maxlength="20">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">结题或成果形式</label>
                                            <div class="col-sm-7">
                                                <label class="radio-inline" for="input-result-1">
                                                    <input checked value="实验报告" type="radio" name="input-result" id="input-result-1">实验报告
                                                </label>
                                                <label class="radio-inline" for="input-result-2">
                                                    <input value="论文" type="radio" name="input-result" id="input-result-2">论文
                                                </label>
                                                <label class="radio-inline" for="input-result-3">
                                                    <input value="实物作品" type="radio" name="input-result" id="input-result-3">实物作品
                                                </label>
                                                <label class="radio-inline" for="input-result-4">
                                                    <input value="专利" type="radio" name="input-result" id="input-result-4">专利
                                                </label>
                                                <label class="radio-inline" for="input-result-5">
                                                    <input value="其它" type="radio" name="input-result" id="input-result-5">其它
                                                </label>
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="input-result" placeholder="其它形式" disabled maxlength="20">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">项目简介<small>（此处内容将显示在列表摘要中）</small>
                                            </label>
                                            <div class="col-sm-12">
                                                <textarea class="form-control" rows="3" id="input-description" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">项目细节<small>（请按以下内容填写1.设计思路及实验目的；2.涉及的内容或知识点；3.采用的方法和手段；4.考察点）</small>
                                            </label>
                                            <div class="col-sm-12">
                                                <div class="form-control wysiwyg-textarea" id="input-detail"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">需要的主要仪器设备及实验材料
                                            </label>
                                            <div class="col-sm-12">
                                                <div class="form-control wysiwyg-textarea" id="input-requirement"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="submit" class="btn btn-primary" id="submit">保存</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <%} else if(typeof user!=='undefined' && projectType==='挑战杯项目' ){%>
                        <div class="modal fade" id="new-project" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">新建挑战杯项目<small class="text-danger ml20"><%=user.type==='同学'?'注意：同学发布的项目在寻求指导教师后方可激活，激活后项目所有权归指导教师。':'' %></small></h4>
                                    </div>
                                    <form class="form-horizontal form-horizontal-label-left" id="new-cc">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="input-name" class="col-sm-2 control-label">项目名称</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" id="input-name" maxlength="20" required>
                                                </div>
                                                <label for="input-college" class="col-sm-2 control-label">所属学院</label>
                                                <div class="col-sm-4" data-role="selector">
                                                    <select class="form-control" id="input-college" required data-bind="college"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="input-dateStart" class="col-sm-2 control-label">预期开始时间</label>
                                                <div class="col-sm-4">
                                                    <div class="input-group input-append date">
                                                        <input type="text" class="form-control" id="input-dateStart" required>
                                                        <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                                        </div>
                                                        <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label for="input-dateEnd" class="col-sm-2 control-label">预期结束时间
                                                </label>
                                                <div class="col-sm-4">
                                                    <div class="input-group input-append date">
                                                        <input type="text" class="form-control" id="input-dateEnd" required>
                                                        <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                                        </div>
                                                        <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">项目类别</label>
                                                <div class="col-sm-10">
                                                    <label class="radio-inline" for="input-type-1">
                                                        <input value="哲学社会科学类社会调查报告和学术论文" type="radio" name="input-type" id="input-type-1">哲学社会科学类社会调查报告和学术论文
                                                    </label>
                                                    <label class="radio-inline" for="input-type-2">
                                                        <input value="自然科学类学术论文" type="radio" name="input-type" id="input-type-2">自然科学类学术论文
                                                    </label>
                                                    <label class="radio-inline" for="input-type-3">
                                                        <input value="科技发明制作类" type="radio" name="input-type" id="input-type-3">科技发明制作类
                                                    </label>
                                                    <label class="radio-inline" for="input-type-4">
                                                        <input value="创业计划类" type="radio" name="input-type" id="input-type-4">创业计划类
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">项目简介<small>（此处内容将显示在列表摘要中）</small>
                                                </label>
                                                <div class="col-sm-12">
                                                    <textarea class="form-control" rows="3" id="input-description" required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">项目的基本内容、意义摘要、研究思路和方法
                                                </label>
                                                <div class="col-sm-12">
                                                    <div class="form-control wysiwyg-textarea" id="input-ccBasis"></div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">项目拟解决的技术难点以及预期达到的目标、主要技术指标和水平
                                                </label>
                                                <div class="col-sm-12">
                                                    <div class="form-control wysiwyg-textarea" id="input-ccGoal"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">项目研究内容的发展现状与趋势，与项目有关研究领域的基础以及专利申请和授权情况
                                                </label>
                                                <div class="col-sm-12">
                                                    <div class="form-control wysiwyg-textarea" id="input-ccStatus"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">预期研究成果应用、转化的前景预测及分析
                                                </label>
                                                <div class="col-sm-12">
                                                    <div class="form-control wysiwyg-textarea" id="input-ccUsage"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">研究工作条件与基础
                                                </label>
                                                <div class="col-sm-12">
                                                    <div class="form-control wysiwyg-textarea" id="input-ccCondition"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">研究工作计划及进度（各实施阶段目标和内容）
                                                </label>
                                                <div class="col-sm-12">
                                                    <div class="form-control wysiwyg-textarea" id="input-ccSchedule"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">团队的学科搭配和梯队建设情况
                                                </label>
                                                <div class="col-sm-12">
                                                    <div class="form-control wysiwyg-textarea" id="input-ccTeam"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">经费申请金额、经费用途和使用计划
                                                </label>
                                                <div class="col-sm-12">
                                                    <div class="form-control wysiwyg-textarea" id="input-ccFund"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">创业项目概述、产品和服务介绍<small class="ml10">（创业计划类项目填写）</small>
                                                </label>
                                                <div class="col-sm-12">
                                                    <div class="form-control wysiwyg-textarea" id="input-ccDBasic"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">创业公司市场、竞争和营销概述<small class="ml10">（创业计划类项目填写）</small>
                                                </label>
                                                <div class="col-sm-12">
                                                    <div class="form-control wysiwyg-textarea" id="input-ccDMarket"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">创业公司财务、经营和组织概述<small class="ml10">（创业计划类项目填写）</small>
                                                </label>
                                                <div class="col-sm-12">
                                                    <div class="form-control wysiwyg-textarea" id="input-ccDManage"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="submit" class="btn btn-primary" id="submit">保存</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <%} else if(typeof user!=='undefined' && projectType==='科技创新工程项目' ){%>

                            <div class="modal fade" id="new-project" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title">新建科技创新工程项目<small class="text-danger ml20"><%=user.type==='同学'?'注意：同学发布的项目在寻求指导教师后方可激活，激活后项目所有权归指导教师。':'' %></small></h4>
                                        </div>
                                        <form class="form-horizontal form-horizontal-label-left" id="new-ip">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="input-name" class="col-sm-2 control-label">项目名称</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="input-name" maxlength="20" required>
                                                    </div>
                                                    <label for="input-college" class="col-sm-2 control-label">所属学院</label>
                                                    <div class="col-sm-4" data-role="selector">
                                                        <select class="form-control" id="input-college" required data-bind="college"></select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="input-dateStart" class="col-sm-2 control-label">预期开始时间</label>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append date">
                                                            <input type="text" class="form-control" id="input-dateStart" required>
                                                            <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                                            </div>
                                                            <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <label for="input-dateEnd" class="col-sm-2 control-label">预期结束时间
                                                    </label>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-append date">
                                                            <input type="text" class="form-control" id="input-dateEnd" required>
                                                            <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-remove"></i>
                                                            </div>
                                                            <div class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">项目简介<small>（此处内容将显示在列表摘要中）</small>
                                                    </label>
                                                    <div class="col-sm-12">
                                                        <textarea class="form-control" rows="3" id="input-description" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">关键词<small>（3~5个，用分号隔开）</small>
                                                    </label>
                                                    <div class="col-sm-12">
                                                        <textarea class="form-control" rows="3" id="input-ipKeywords" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">摘要
                                                    </label>
                                                    <div class="col-sm-12">
                                                        <div class="form-control wysiwyg-textarea" id="input-ipDetail"></div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">立论依据<small>（研究意义，现状分析，创新之处，参考文献）</small>
                                                    </label>
                                                    <div class="col-sm-12">
                                                        <div class="form-control wysiwyg-textarea" id="input-ipBasis"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">研究方案<small>（研究目标和内容，拟解决的关键问题，研究进度，预期成果）</small>
                                                    </label>
                                                    <div class="col-sm-12">
                                                        <div class="form-control wysiwyg-textarea" id="input-ipSchedule"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">研究条件与基础
                                                    </label>
                                                    <div class="col-sm-12">
                                                        <div class="form-control wysiwyg-textarea" id="input-ipCondition"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">经费预算<small>（科研业务费，实验材料费，其他费用）</small>
                                                    </label>
                                                    <div class="col-sm-12">
                                                        <div class="form-control wysiwyg-textarea" id="input-ipFund"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                <button type="submit" class="btn btn-primary" id="submit">保存</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <%}%>
        </div>
        <% include parts/footer.ejs %>
    </div>
    <% include parts/include.js.html %>
        <script type="text/javascript" src="/js/project.js"></script>
</body>

</html>