<!DOCTYPE html>
<html>

<head>
    <title>开放实验 - 师生科研互动平台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include parts/include.css.html %>
</head>

<body>
    <% include parts/nav.ejs %>
        <div class="header header-<%=projectFix%>">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="m0"><%=project.name%></h1>
                        <input type="hidden" value="<%=project._id%>" id="input-project-id">
                        <input type="hidden" value="<%=project.type%>" id="input-project-type">
                        <h5 class="mt20"><i class="fa fa-street-view"></i>指导教师：&nbsp;<%=project.teacher.name%><i class="fa fa-clock-o ml20"></i>&nbsp;更新于<%=project.dateUpdate%></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt20">
            <div class="row">
                <div class="col-sm-9 col-xs-12 ">
                    <fieldset>
                        <legend>项目简介</legend>
                        <p>
                            <%=project.description%>
                        </p>
                    </fieldset>
                    <%if(project.type==='开放实验项目' ){%>
                        <fieldset>
                            <legend>项目细节&nbsp;<small class="text-muted">思路，目的，涉及的内容或知识点，考察点</small>
                            </legend>
                            <p>
                                <%=project.openExperimentAttr.detail%>
                            </p>
                        </fieldset>
                        <fieldset>
                            <legend>需要的主要仪器设备及实验材料
                            </legend>
                            <p>
                                <%=project.openExperimentAttr.requirement%>
                            </p>
                        </fieldset>
                        <%}%>
                            <fieldset>
                                <legend>讨论</legend>
                                <div id="comments">
                                    <p class="text-muted" id="comments-state">讨论加载中</p>
                                </div>
                                <form class="well mt20" id="form-comment">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" id="input-comment" placeholder="说点什么"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <span><%=user.name%><%=user.type==='teacher'?'教师':'同学'%></span>
                                        <span id="reply-info" class="ml10"></span>
                                        <button type="button" class="pull-right btn btn-primary" id="input-submit">发表讨论</button>
                                        <button type="button" class="pull-right btn btn-default mr20" id="input-cancel">取消</button>
                                    </div>
                                </form>
                            </fieldset>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="aside">
                        <%if(user.type==='student' ){ %>

                            <button type="button" class="btn btn-primary <%=isSelected?'':'dhidden'%>" id="btn-submit-report">提交实验报告</button>
                            <button type="button" class="ml20 btn btn-default <%=isSelected?'':'dhidden'%>" id="btn-ask">我有疑问</button>

                            <button type="button" class="btn btn-warning <%=isApplied?'':'dhidden'%>" id="btn-cancel-select">取消申请</button>
                            <button type="button" class="ml20 btn btn-default <%=isApplied?'':'dhidden'%>" id="btn-ask">我有疑问</button>

                            <button type="button" class="btn btn-primary <%=(isApplied||isSelected)?'dhidden':''%>" id="btn-apply">选课</button>
                            <button type="button" class="ml20 btn btn-default <%=(isApplied||isSelected)?'dhidden':''%>" id="btn-ask">我有疑问</button>

                            <% } else if(user.type==='teacher' ){%>

                                <button type="button" class="btn btn-primary" id="btn-update-content">更新实验</button>
                                <button type="button" class="ml20 btn btn-default" id="btn-ask">查看讨论</button>

                                <%} if(project.type==='开放实验项目' ){%>

                                    <hr/>
                                    <div class="text-muted">所属学院：</div>
                                    <h4><%=project.college%></h4>
                                    <div class="text-muted">面向专业：</div>
                                    <h4><%=project.openExperimentAttr.object%></h4>
                                    <div class="text-muted">实验室：</div>
                                    <h4><%=project.openExperimentAttr.lab%></h4>
                                    <hr/>
                                    <div class="text-muted">教师信息：</div>
                                    <h5><i class="fa fa-street-view"></i><%=project.teacher.name%></h5>
                                    <h5><i class="fa fa-institution"></i><%=project.teacher.department%></h5>
                                    <h5><i class="fa fa-envelope"></i><a href="mailto:<%=project.teacher.email%>"><%=project.teacher.email%></a></h5>
                                    <h5><i class="fa fa-phone"></i><%=project.teacher.phone%></h5>
                                    <hr/>
                                    <div class="text-muted">起始时间：</div>
                                    <h5><i class="fa fa-calendar"></i><%=project.dateStart%>&nbsp;至&nbsp;<%=project.dateEnd%></h5>
                                    <h5><i class="fa fa-clock-o"></i>需要学时：<%=project.openExperimentAttr.effort%></h5>
                                    <hr/>
                                    <%}%>
                    </div>
                </div>
            </div>
        </div>
        <% include parts/include.js.html %>
            <script type="text/javascript" src="/js/projectView.js"></script>
</body>

</html>