<!DOCTYPE html>
<html>

<head>
    <title>
        <%=team.name%> - 团队资料 - 暨南大学师生科研互动平台</title>
    <%include parts/include.css.html%>
</head>

<body>
    <div class="page-wrapper">
        <div class="body">
            <% include parts/nav.ejs %>
                <input type="hidden" value="<%=team._id%>" id="team-_id">


                <div class="container mt20">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2><%-team.name %></h2>
                            <p class="text-muted"><i class="fa fa-clock-o"></i>&nbsp;创建于
                                <%=team.dateCreate %><i class="fa fa-user ml20"></i>&nbsp;负责人：
                                    <%=team.leader.name %>
                            </p>
                        </div>
                    </div>
                    <hr/>
                </div>


                <div class="container mt20">
                    <div class="row">
                        <div class="col-sm-9 col-xs-12">
                            <h3><b>团队简介</b></h3>
                            <p>
                                <%-team.desc%>
                            </p>
                            <h3><b>参与项目</b></h3>
                            <div id="projects">
                                <p class="text-muted" id="load-state">加载中</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="aside aside-right">
                                <%if(typeof user!=='undefined' ){%>
                                    <%if(team.leader._id.toString()!==user._id.toString() ){%>

                                        <button type="button" class="btn btn-block btn-danger <%=isSelected?'':'dhidden'%>" id="btn-submit-report" data-toggle="modal" data-target="#exit-team"><i class="fa fa-sign-out"></i>&nbsp;退出团队</button>
                                        <button type="button" class="btn btn-block btn-warning <%=isApplied?'':'dhidden'%>" id="btn-cancel-select"><i class="fa fa-times"></i>&nbsp;取消申请</button>
                                        <button type="button" class="btn btn-block btn-primary <%=(isApplied||isSelected)?'dhidden':''%>" id="btn-apply"><i class="fa fa-check"></i>&nbsp;申请加入</button>

                                        <% } else{%>
                                            <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#update-team"><i class="fa fa-edit"></i>&nbsp;更新团队</button>
                                            <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#delete-team"><i class="fa fa-trash"></i>&nbsp;解散团队</button>

                                            <%}}else{%>
                                                <p class="text-info"><i class="fa fa-info-circle"></i>&nbsp;您目前尚未登录，登录后可以：</p>
                                                <ul class="text-info">
                                                    <li>参与团队</li>
                                                </ul>
                                                <%}%>
                                                    <hr/>
                                                    <h4 class="text-theme"><b>成员</b></h4>
                                                    <div id="team-members" class="mt10">
                                                        <span class="text-muted">加载中</span>
                                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <% include parts/footer.html %>
    </div>
    <%if(typeof user!=='undefined' &&isSelected){%>
        <div class="modal fade" id="exit-team" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">退出团队</h4>
                    </div>
                    <div class="modal-body">
                        <h5>点击“确定”后，将退出本团队。</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger" id="submit">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
            <%if(typeof user!=='undefined' &&team.leader._id.toString()===user._id.toString() ){%>
                <div class="modal fade" id="delete-team" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">解散团队</h4>
                            </div>
                            <div class="modal-body">
                                <h5>点击“确定”后，本团队将被解散。</h5>
                                <p><i class="fa fa-exclamation-triangle text-danger"></i>&nbsp;注意：</p>
                                <ol>
                                    <li>团队的所有选课将丢失；</li>
                                    <li>团队成员将失去团队关系。</li>
                                </ol>
                                <p>因此，请同学在<b>确认解散团队前务必完成已选项目任务</b>，执行此操作。</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-danger" id="submit">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="update-team" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">更新团队</h4>
                            </div>
                            <form>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="input-orign-password">负责人</label>
                                        <input type="text" class="form-control" id="input-leader" required value="<%=user.name+' ('+user.id+')'%>" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-orign-password">名称</label>
                                        <input type="text" class="form-control" id="input-name" required maxlength="20" value="<%=team.name%>">
                                    </div>
                                    <div class="form-group">
                                        <label for="input-orign-password">描述</label>
                                        <textarea class="form-control" id="input-desc" required maxlength="500" rows="3">
                                            <%=team.desc%>
                                        </textarea>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary" id="submit">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <%}%>
                    <% include parts/include.js.html %>
                        <script type="text/javascript" src="/js/teamView.js"></script>
</body>

</html>